.container {
  padding: 20px;
  text-align: center;
}

.h1 {
  color: #b7ceda;
  margin-top: 50px; 
  font-size: 2rem; 
}

.paragrafo {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.divi {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .h1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .paragrafo {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}