.h1{
  color: #b7ceda;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p{
  text-align: center;
  font-size: 15px;
}

.paragrafo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.divi{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}